*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: white;
}
#maines{
  /* background-image: url("photos/Background.png"); */
  background-size: contain;
}
 /* nav start */
 .navbar {
  background-color:#aeeded;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 78px;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.nav-links a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}
 
 /* box0 start */
.row{
    max-width: 100%;
     background-size: contain;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.hero-right {
    text-align: right;
    padding-top: 50px;
}

.hero{
    background-image: url("photos/Background.png"); 
    padding-left: 8%;
    padding-right: 8%;
}
.hero-img {
    max-width: 75%;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
.columns{
   display: flex;
   justify-content: center;
   align-items: center;
}
.columns img{
    padding-top: 0px;
    width: 407px;
    height: 515px;
}
.centerdiv h1{
  width: 10px;
  height: 10px;
}
.columns1 h1{
  color: #1c2050;
    font-weight: 800;
    padding-top: 35px;
    font-size: 64px;
}
.columns1 h3{
  color: #1c2050;
    line-height: 62px;
    font-weight: 600;
    padding-left: 53px;
    font-family: sans-serif;
    font-size: 44px;
}
.hero-right h2 {
    color: #02d5d5;
    line-height: 71px;
    font-weight: 800;
    font-size: 60px;
}
.hero-right p {
    font-family: sans-serif;
    padding-top: 31px;
    line-height: 30px;
    font-size: 19px;
} 
.hero-right .arrow-img {
    max-width: 20%;
    position: absolute;
    bottom: 9px;
    right: 383px;
}
.btn-s{
   
    padding: 16px;
    margin-top: 17%;
    border-radius: 150px;
    border: 1px solid white;
    width: 250px;
    background-color: #1c2050;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}

 .hero-right h1 {
    color: #1c2050;
    font-weight: 800;
    font-size: 60px;
}
.hero-right h3 {
    line-height: 50px;
    font-weight: 600;
    font-size: 40px;
    color: #1c2050;
}
.hero-right span{
  background: linear-gradient(to right, #3b53b8, #02d5d5);
    color: transparent;
    -webkit-background-clip: text;
}


 /* row1 start */
.section-2{
  max-width: 100%;
  background: url("photos/Background\ \(3\).png");
  background-size: cover;
}
 .row1{
    align-items: center;
  max-width: 100%;
 }
.why-us{
    color: #1c2050;
    text-align: center;
    max-width: 100%;
    width: 639px;
    margin: 0 auto;
}
.why-us h5{
    font-size: 25px;
}
.why-us img{
    width: 37%;
    text-align: center;
}
.why-us h4{
    padding-top: 12px;
    font-size: 29px;
}
.why-us h3{
    padding-bottom: 10px;
  color: #02d5d5;
    font-size: 28px;
}
.why-us p {
    line-height: 25px;
    font-size: 16px;
}
.why-us-a {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 100%;
}
.why-us-a img{
  max-width: 80%;
  background-image: url("photos/Background%20(3).png");
}
.why-us-a-btn{
    padding-bottom: 40px;
   text-align: center;
}
.botton {
    font-weight: 600;
    font-size: 19px;
    width: 16%;
    padding: 14px;
    border: 1px solid white;
    border-radius: 40px;
    background-color: #02d5d5;
    color: white;
}
 /* row3 start */
 .section-3{
  max-width: 100%;
  background-image: url("photos/16252659_3384_Abstract_Modern_Background_with_Wave_Motion_Element_and_Blue_White_White_Gadient_Color_10\ 1\ 1.png");
 }
 .why-us{
  padding-top:50px ;
    color: #1c2050;
    text-align: center;
    max-width: 100%;
    width: 639px;
    margin: 0 auto;
}
.h2a {
    font-size: 29px;
}

.row.who-us {
    padding-left: 8%;
    padding-right: 8%;
}
.columns-p{    
    padding-top: 50px;
    line-height: 34px;
    max-width: 73%;
    align-items: center;
    font-size: 21px; 
}

.hero-right img {
    max-width: 100%;
}

/* start rws4 */
.rws4{
  width: 100%;
  background-image: url("photos/Background(5\).png");
  background-position: cover;
}
.robbin1{
  text-align: center;
  max-width: 100%;
  /* background-color: beige; */
}
.robbin2{
  max-width: 100%;
  display: flex;
}
.robbin{
  float: left;
  max-width: 50%;
  /* background-color: #3b53b8; */
}
.robbin{
  float: left;
  /* background-color: aquamarine; */
  max-width: 50%;
}
.h5robb {
  color: #1c2050;
    padding-top: 70px;
    font-size: 25px;
}
.robbh3{
    text-align: center;
    color: #1c2050;
    /* padding-bottom: 5px; */
     padding-top: 5px;
    font-size: 27px;
}
.robimg{
  height: 10px;
}
.robimg {
    margin-top: 13px;
    /* padding-top: 6px; */
    height: 5px;
}
.robp{
    font-family: sans-serif;
    /* padding-right: 53px; */
    padding-top: 9px;
    text-align: center;
    line-height: 33px;
    font-size: 16px;
    color: #1c2050;
}
span{
  color: #02d5d5;
}
.box{
  max-width: 100%;
  height: 100%;
  display: flex;
}
.box1{
  width: 44%;
  background-color: white;
}
.box2 {
    margin-right: 32px;
    float: right;
    margin-top: 14%;
    background-color: white;
    width: 52%;
    display: flex;
}
.box2-secondbox{
  margin-right: 32px;
    float: right;
    margin-top: 32%;
    background-color: white;
    width: 52%;
    display: flex;
}
.bximg {
    width: 100px;
    height: 100px;
}
.bxh6{
  color: #1c2050;
   text-align: end;
  font-size: 20px;
}
.bpx{
  color: #1c2050;
  padding-top: 10px;
   text-align: end;
  font-size: 13px;
}
.bxx01 {
    margin-left: 28%;
    color: white;
    font-size: 25px;
    padding: 12px;
    border-radius: 35px;
    position: absolute;
    text-align: center;
    width: 58px;
    height: 54px;
    background-color:#02d5d5;
}

.box3{
  width: 12%;
  height: 100%;
  /* background-color: cadetblue; */
}
.box4{
  width: 44%;
  /* background-color: coral; */
}
.box2img{
    width: 90%;
    height: 10%;
    margin-top: 20%;
    margin-left: 13px;
}
/* ihi */

.box1a{
  width: 44%;
  background-color: white;
}
.box2b{
   
    margin-top: 14%;
    margin-left: 44%;
    /* margin-right: 29%; */
    background-color: white;
    width: 52%;
    height: 15%;
    display: flex;
    padding: 9px;
}
.bximg {
    width: 90px;
    
}
.bxh6pd{
  color: #1c2050;
   text-align: end;
  font-size: 20px;
}
.bpxf{
  color: #1c2050;
  padding-top: 10px;
   text-align: end;
  font-size: 13px;
}
.bxx01 {
    margin-left: 25%;
    color: white;
    font-size: 25px;
    padding: 12px;
    border-radius: 35px;
    position: absolute;
    text-align: center;
    width: 58px;
    height: 54px;
    background-color:#02d5d5;
}
.box-2right {
    margin-left: 40px;
    float: left;
    margin-top: 35%;
    width: 52%;
    display: flex;
}
.bxh6-right {
    color: #1c2050;
    text-align: start;
    font-size: 20px;
}
.bpx-right {
    color: #1c2050;
    padding-top: 10px;
    text-align: start;
    font-size: 13px;
}
.bxx011 {
    margin-top: 16px;
    /* margin-right: 24px; */
    margin-left:-6%;
    color: white;
    font-size: 25px;
    padding: 12px;
    border-radius: 35px;
    position: absolute;
    text-align: center;
    width: 58px;
    height: 54px;
    background-color: #02d5d5;
}


.asdg{ 
  max-width: 100%;
}

.p-parag-rph{
  padding-bottom: 50px;
    font-size: 21px;
    padding-top: 14px;
}
.box-11{
 max-width: 100%;
 background-color:white;
 display: flex;
}
.box-12{
  width: 50%;
  margin-left: 80px;
}
.box-13 {
    width: 46%;
    height: 230px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.box-13 img {
    margin-right: 150px;
    width: 55%;
}

.accordion {
    border: none;
    cursor: pointer;
    width: 90%;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
     outline: none;
     background: transparent;
}
.panel {
  padding: 0 18px;
  display: none;
  /* background-color: white; */
  overflow: hidden;
}

.accordion i{
    padding-left: 92%;
    font-size: 20px;
    display: block;
    color: #02d5d5;
}
.pe-1{
    font-size: 13px;
    padding-left: 135px;
}


























.footer{
  max-width: 100%;
  background-color: #1c2050;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-2{
  width: 23%;
  
    margin-bottom: 47px;
    margin-top: 70px;
    width: 23%;
}
.div-1{
    padding-top: 50px;
    width: 31%;
    padding-left: 100px;
}
.div-1-img{
  width: 60%;
  padding-bottom: 50px;
  
}
.div-1-p{
  font-size: 15px;
   line-height: 23px;
}
.div-2 h5{
  line-height: 35px;
}
.div-3{
  max-width: 100%;
  background-color: black;
  color: white;
}
 .div-3-p {
    font-weight: 200;
    padding: 26px;
    text-align: center;
    font-family: sans-serif;
    font-size: 21px;
}